@import url(/globalStyles.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family1);
}

body {
    margin: 20px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.title_logo {
    font-size: 2rem;
    color: var(--color-grayScale1);
    margin-bottom: 2.5rem;

}

.dark-mode-title{
    color: white;
}

.input {
    background-color: var(--color-grayScale4);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    width: 100%;
    border: transparent;
    border-radius: 8px;
}

.input_style {
    border: transparent;
    background-color: var(--color-grayScale4);
}

input:focus {
    outline: none;
}

.input_style::-webkit-input-placeholder {
    font-family: var(--font-family1);
    color: var(--color-grayScale3);
}

.button_input {
    font-size: 20px;
    padding: 2px 10px;
    border: transparent;
    background-color: var(--color-brand1);
    color: var(--color-grayScale5);
    border-radius: 4px;
    cursor: pointer;
}

.button_input:hover {
    background-color: #c0713c;
}

#itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item,
li,
h2 {
    background-color: var(--color-grayScale4);
    padding: 10px 15px;
    border-radius: 8px;
}

h2 {
    font-size: 1rem;
    color: var(--color-grayScale1);
}

#itens li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: nowrap;
    align-items: center;
}

.excluir {
    background-color: var(--color-grayScale5);
    border: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-grayScale2);
    cursor: pointer;
}

.excluir:hover {
    background-color: var(--color-brand1);
    color: white;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.excluir {
    background-image: url(./assets/icons8-lixeira-100.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 15px;
}

.adicionados {
    width: 100%;
}

.ligth-mode{
    background-image: url(./assets/lua.png);
    background-color: white;
    border: transparent;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.ligth-mode:hover{
    background-color: #c0713c;
}

.dark-mode{
    background-image: url(./assets/sol.png);
    background-color: var(--color-grayScale1);
    border: transparent;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.dark-mode:hover{
    background-color: white;
}

body.dark-mode-body{
    background-color: var(--color-grayScale1);
    color: white;
}

@media(min-width: 900px) {
    .input {
        width: 70%;

    }

    .adicionados {
        width: 70%;
        margin: 20px;
    }
}